{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Add Article</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Input title"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Input intro"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Input main article text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Add Article">
    </form>

</div>
{% endblock %}
