{% extends 'store/index.html' %}

{% block title %}Product list{% endblock %}

{% block content %}

{% for products in product_list %}
<div class="card-group">
    {% for product in products %}
    <div class="card">
        <a href="product_detail.html">
            <img src="https://i.pinimg.com/originals/94/18/a5/9418a5638b3bd7a92dc92d440a742150.jpg"
                 class="card-img-top" alt="Range Rover">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.info|truncatewords:10 }}</p>
            <p class="card-text">Price: {{ product.price }}</p>
            <ul class="category_list">
                <li><a href="">Sport</a></li>
                <li><a href="">Crossover</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
